html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
}

.container{
    background: whitesmoke;
    padding: 1em;
    border-radius: 5px;
}

.gradient {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    background: #b5caf9;
    padding: 2.5em;
    border-radius: 5px;
}

input {
    cursor: pointer;
    margin: 10px;
}

input[type=color] {
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    height: 30px;
    width: 100px;
}

.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn{
    display: none;
    font-family: 'Sen',
    sans-serif;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #E0FBFC;
    display: block;
    font-size: 1.3rem;
    color: #3D5A80;
}

.btn:hover {
    opacity: 0.6;
}

.btn:disabled,
btn[disabled] {
    opacity: 0.2;
}
/* .degree{
    display: block;
} */
